/* ------------------------------------------ */
/* -------------- styleMain.css ------------- */
/* Main style definitions for site containers */
/* ------------------------------------------ */

#background
{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#content
{
	position:relative;
	z-index:1;
}
#login_frame
{
	min-width:150px;
	max-width:300px;
	margin-left:auto;
	margin-right:auto;
}
#error_box
{
	min-width:150px;
	max-width:300px;
	margin-left:auto;
	margin-right:auto;
	font-weight:bold;
	color:#FF0000;
	border:1px solid #000;
}